.nav-bar {
    background: #607D8B;
    box-shadow: 0 10px 8px -4px darkgray;
    margin-bottom: 5px;
    padding: 20px;
}

.nav-bar .title {
    color: #ffffff;
    display: inline;
    padding: 10px;
}

.nav-bar .links {
    list-style-type: none;
    display: inline-block;
}

.nav-bar .links .link {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    color: #f8f8f8;
    height: 100%;
}

.nav-bar .link a{
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 300;
}

.active a{
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
}

.nav-bar .link a:hover{
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.row {
    padding-top: 10px;
}
